footer#footer
  p(style="margin:0;margin-bottom:18px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;text-align: center;") Copyright © ImmeDine